echo .env > .gitignore
echo node_modules/ >> .gitignore
echo data/downloads.json >> .gitignore
echo data/submissions.json >> .gitignore
echo server.out.log >> .gitignore
echo server.err.log >> .gitignore